body
  margin-left: 40px
  margin-top: 40px

h1
  text-align: center
  text-shadow: 1px 1px grey

form
  padding: 20px 20px 20px 20px
  ##border: 1px solid black

  .align
    label
      display: inline-block
      text-align: left
      width: 250px

form.recipe-form
  width: 80%
  margin-top: 5%
  margin-left: 13%

.done-step
  color: green
.current-step
  color: red
  font-weight: bold

.step-link
.mode-link
  color: blue

.recette
  position: relative
  width: 15%
  height: 40px
  left: 44%
  border-radius:15px

.sizetext
  width: 80px;

.all_comment
  margin-top: 2%
  position: relative
  width:50%
  left:25%

form.com
  margin-top: 7%
  width:50%
  position: relative
  left: 25%
  
form.search
  margin-top: 7%
  width:50%
  position: relative
  left: 25%

#main-body
  margin-left: 20px
